<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
</head>
<body> 
       <h1>Add Member on mongodb database</h1>
       <form action="add-member" method="post">
         <input type="text" name="name" placeholder="please enter name"> <br><br>
         <input type="text" name="age" placeholder="please enter age"> <br><br>
         <input type="text" name="city" placeholder="please enter city"> <br><br>
         <button>Add Member</button>
       </form>
</body>
</html>