<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
       <h1>Name is : <%= name %></h1>
       <h1>Age is : <%= age %> </h1>
       <h1>City is : <%= city %></h1>
</body>
</html>